* {
  box-sizing: border-box;
}

body {
  display: grid;
  margin: 0;
  padding: 0;
  height: 100vh;
  line-height: 1.6;
  grid-template-areas:
    "header header"
    "section section"
    "footer footer";
  grid-template-rows: minmax(65px, 75px) 5fr minmax(35px, 50px);
}

a {
  text-decoration: none !important;
}

body>header {
  grid-area: header;
}

.menu {
  width: 100%;
  font-size: 20px;
  text-align: center;
  height: 100%;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 100%;
}

.menu li {
  display: inline-block;
}

body>section {
  grid-area: section;
}

#todo {
  width: 100%;
  filter: drop-shadow(1px 2px 2px rgba(55, 45, 05, 0.5));
  padding: 10px 15px;
  resize: none;
}

.buttonGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 10px;
}

.add {
  width: 100%;
  margin: 10px 0;
  padding: 0;
  font-size: 1.2rem;
}

.add .addList {
  list-style: none;
  display: grid;
  grid-gap: 10px 0;
  margin: 0;
  padding: 0;
}

.add .show {
  display: grid;
  box-shadow: 0px 0px 4px red;
  grid-template-columns: 1fr 50px;
  grid-gap: 0 10px;
  padding: 5px 15px;
}

.add .show a {
  text-align: end;
  margin-right: 1rem;
}

footer {
  display: grid;
  grid-area: footer;
  background-color: skyblue;
  width: 100%;
  justify-items: center;
  align-items: center;
}

footer i {
  font-size: 20px;
}

/* listeler.php css */
.list {
  width: 100%;
  height: auto;
}

.listeler {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.listeler li {
  display: grid;
  grid-template-columns: 1fr minmax(25px, 170px);
  grid-gap: 5rem;
  padding: 25px;
  align-items: center;
  align-content: center;
  box-shadow: 1px 0px 4px red;
  margin-bottom: 1rem;
}

.listeler .buttonGroup {
  text-align: center;
  margin-right: 30px;
}
